body {
  font-family: 'Roboto', sans-serif;
  padding: 0px 20px;
}

body ::before, body ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body img {
  display: block;
  max-width: 100%;
  height: auto;
}

body a {
  text-decoration: none;
  display: block;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.index .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

.index .mb-40 {
  margin-bottom: 40px;
}

.index .mb-24 {
  margin-bottom: 24px;
}

.index .mb-16 {
  margin-bottom: 16px;
}

.index .banner {
  background-image: url(../../dist/image/banner.png);
  background-position: center;
  width: 100%;
  height: 958px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.index .banner .introduction .greeting {
  font-size: 24px;
  line-height: 42px;
  text-align: left;
}

.index .banner .introduction h1 {
  font-size: 80px;
  line-height: 106px;
  margin-bottom: 32px;
}

.index .banner .introduction p {
  font-size: 24px;
  line-height: 36px;
}

.index .banner .introduction .social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .banner .introduction .social_list li {
  margin: 0px 8px;
}

.index .banner .introduction .social_list img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.index .info {
  font-weight: bold;
  margin: 56px auto;
}

.index .info h2 {
  font-size: 64px;
  line-height: 84px;
}

.index .info .img_wrapper {
  width: 384px;
  height: 384px;
  margin: 0 auto;
}

.index .info .img_wrapper img {
  width: 100%;
}

.index .info li {
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 8px;
}

.index .info .info_content {
  margin-top: 20px;
}

.index .info .info_content .info_school {
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 24px;
}

.index .info .info_content .info_jobs {
  margin-top: 28px;
}

.index .info .info_content .info_jobs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 28px;
}

.index .info .info_content .info_jobs .circle {
  background-color: #891818;
  border-radius: 180px;
  width: 22px;
  height: 22px;
  margin-right: 16px;
}

.index .container-fluid {
  background-color: black;
  color: white;
}

.index .container-fluid .brand {
  padding: 56px 0 160px 0px;
  margin-bottom: 56px;
}

.index .container-fluid .brand h3 {
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 12px;
}

.index .container-fluid .brand p {
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 32px;
}

.index .container-fluid .brand .brand_info {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 68px;
}

.index .container-fluid .brand .brand_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index .container-fluid .brand .brand_pic li {
  width: 48%;
}

.index .container-fluid .brand .brand_pic li img {
  width: 100%;
}

.index .container-fluid .brand .brand_pic .brand_pic_1 {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.index .works {
  margin-bottom: 144px;
}

.index .works h4 {
  font-size: 64px;
  line-height: 84px;
}

.index .works p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 56px;
}

.index .works .works_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index .works .works_list p {
  font-size: 20px;
  line-height: 42px;
  font-weight: bold;
}

.index .works .works_list li {
  width: 33.33333%;
}

.index .works .works_list .works_list_4, .index .works .works_list .works_list_5 {
  width: 50%;
}

.index .works .works_list .works_wrapper {
  margin-bottom: 16px;
}

.index .contact {
  padding: 64px 0px;
}

.index .contact h5 {
  font-size: 64px;
  line-height: 84px;
}

.index .contact a {
  font-size: 24px;
  line-height: 36px;
  color: white;
}
/*# sourceMappingURL=allindex.css.map */